<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/nav') %>
    <div class="conatiner mt-5 ps-2 row ">


      <% blogs.forEach(function(blog) { %>
        <div class="card mx-4 mb-3" style="width: 18rem;">
          <img class="card-img-top mt-4 mx-auto container" src=<%=blog.CoverImage %>
          alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <%= blog.Title %>
            </h5>
            <p class="text-truncate">

              <%= blog.Body %>
            </p>
            <a href="/newblogs/blog/<%= blog._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
        <% }); %>
    </div>
    <%- include('./partials/scripts') %>
</body>

</html>
